assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

# Composer
vendor/
composer.lock

# Custom
web/img/
/web/tmp/
/web/curl/
# logs/

# file
app/config.php
app/bootstrap.php
web/csv.php
