assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
web/img/
vendor/
composer.lock
logs/
app/config.php
app/bootstrap.php
web/csv.php
/web/tmp/
/web/curl/